/* FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* FONTS END */

main {
    background-color: white;
}

.todolist {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
}

h1 {
    font-family: 'Poppins', sans-serif;
}